<% if @authenticated%>
  You're logged in as <%= @me.username%>. Click <a href="/logout">here</a> to logout.
  <br /><br />

  Here are your invoices:<br /><br />

  <% @invoices.each do |invoice| %>
    <%= "Name: #{invoice.Name}" %> <br />
    <%= "Total: #{invoice.Invoice_Total__c}" %> <br /><br />
  <% end %>
<% elsif%>
  You're not logged in. Click <a href="/auth/salesforce">here</a> to login.
<% end%>
